body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(77, 77, 228);
    color: #fff;
    text-align: center;
    padding: 1px 0;
    justify-content: center;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    display: flex;
}

h1 {
    margin-bottom: 20px;
}

.btn-iniciar {
    padding: 10px 20px;
    background-color:  rgb(77, 77, 228);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; 
}

.btn-iniciar:hover {
    background-color:  rgb(77, 77, 228);
}
.search-container {
    display: flex;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color:rgb(77, 77, 228);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:rgb(77, 77, 228);
}
footer {
    background-color: rgb(77, 77, 228);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.ramais, .andar, .dois, .tres {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 60px;
  
    
}

.ramais h1, .andar h1, .dois h1, .tres h1,
.ramais h2, .andar h2, .dois h2, .tres h2 {
    text-align: center;
    font-weight: bold;
}

.andar, .dois, .tres {
    text-align: left;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li span {
    font-weight: bold;
    margin-right: 10px;
}